:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

body {
    background-color: var(--light);
}

.card {
    padding: 20px;
    margin: 10px;
    
}

img {
    width: 250px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;   
}

.main-header{
    font-size: 2.25rem;
}

.second-header{
    font-size: 1.5rem;
}

.about-para{
    font-size: 1rem;
    visibility: hidden;
}

.cat-name{
    font-size: 1rem;
}
.species{
    font-size: 1rem;
}

.fave-foods{
    font-size: 0.75rem;
}

.birth-year{
    font-size: 1rem;
}

@media only screen and (min-width: 700px) {
body {
    background-color: var(--camel);
}

.main-header{
    font-size: 3.25rem;
}

.second-header{
    font-size: 1.5rem;
}

.about-para{
    font-size: 1.5rem;
    visibility: visible;
}

.cat-name{
    font-size: 1.5rem;
}
.species{
    font-size: 1.5rem;
}

.fave-foods{
    font-size: 1.5rem;
}

.birth-year{
    font-size: 1.5rem;
}
}


@media only screen and (min-width: 1000px) {
    body {
        background-color: var(--teal);
    }
    
    .main-header{
        font-size: 4.25rem;
    }
    
    .second-header{
        font-size: 2.5rem;
    }
    
    .about-para{
        font-size: 2rem;
        visibility: visible;
    }
    
    .cat-name{
        font-size: 2rem;
    }
    .species{
        font-size: 2rem;
    }
    
    .fave-foods{
        font-size: 1.75rem;
    }
    
    .birth-year{
        font-size: 2rem;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color:var(--light);
    }
}